<div class="row">
   <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/foto.jpg" class="img-fluid" >
   </div>
   <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Constanza Ré</p>
    <p>Full Stack Developer Jr</p>

   </div>
   <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Acerca de mí</h1>
        <p>Como Full Stack Developer Jr. en formación quisiera desempeñarme en una empresa que me permita aplicar mis conocimientos y habilidades con el fin de alcanzar mis objetivos y seguir avanzando en el mundo de IT. 
        Me considero una persona con capacidad de análisis, responsable y proactiva. 
        Poseo facilidad de adaptación y capacidad de trabajar en equipo, con iniciativa para resolver problemas eficientemente</p>
    </span>
   </div>
</div>
