<div class="row">
<h1>Experiencia laboral</h1>
<div class="col-lg-1"></div>
<div class="col-lg-11">
    <ul>
        <li>
            <h1>DTA SA</h1> - <h3>(years)</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate nihil ab dicta itaque. Molestias et reprehenderit tenetur quas unde saepe provident dolor voluptate dolore, aperiam animi esse sunt iusto eius.</p>
        </li>
    </ul>
    <ul>
        <li>
            <h1>Pinturerias Szumik</h1> - <h3>(years)</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate nihil ab dicta itaque. Molestias et reprehenderit tenetur quas unde saepe provident dolor voluptate dolore, aperiam animi esse sunt iusto eius.</p>
        </li>
    </ul>
    <ul>
        <li>
            <h1>Negocio Propio</h1> - <h3>(years)</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate nihil ab dicta itaque. Molestias et reprehenderit tenetur quas unde saepe provident dolor voluptate dolore, aperiam animi esse sunt iusto eius.</p>
        </li>
    </ul>
</div>
</div>
